/* fonte do Foogle Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #16a34a 50%, #18181b 50%) fixed;
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    background-color: #18181b;
    border-radius: 8px;
}

#img img {
    width: 32rem;
}

#img {
    padding: 2rem;
}

#calculadora {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#titulo {
    font-size: 2.25rem;
    position: relative;
}

#titulo::after {
    content: '';
    position: absolute;
    background-color: #16a34a;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 3px;
}

#form label {
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: .3rem;
    border-radius: 3px;
    margin-top: 3px;
}

#form label,
#form i {
    color: #cbd5e1;
    font-size: 1.3rem;
}

#form label {
    padding: .6rem 1rem;
}

#form input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #f8fafc;
    padding: 0 .5rem;
    text-align: center;
}

#form input::-webkit-inner-spin-button,
#form input::-webkit-outer-spin-button {
    appearance: none;
}

#form input:focus {
    outline: none;
}

#calcular {
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: .5rem 0;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
}

#calcular:hover {
    transform: scale(1.1);
}

#calcular:active {
    transform: scale(.9);
}

#resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-top: 1px solid #ffffff34;
    padding: .75rem 0;
}

#imc {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#imc span:last-child {
    font-size: .875rem;
    color: #cbd5e1;
}

#desc {
    width: 15.5rem;
}

#saiba-mais {
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}

#saiba-mais a {
    color: #16a34a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    font-size: .975rem;
    text-decoration: none;
    transition: color .5s;
}

#saiba-mais a:hover {
    color: #cbd5e1;
}

/* javascript */

.esconder {
    display: none;
}

.atencao {
    color: #dc2626;
}

.saudavel {
    color: #16a34a;
}

/* media queries */

@media screen and (max-width: 1024px) {
    #img {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    #container,
    #calculadora {
        width: 100%;
        height: 100%;
    }

    #calculadora {
        border-radius: 0;
        justify-content: center;
    }
}