/* reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: darkgreen;
    position: relative;
    top: 0;
}

#gerador {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    padding: 5vw;
    gap: 5vh;
    border: 3px solid #4CAF50;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #24662650;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 50%;
    height: auto;
    margin-top: 5vh;
    transition: all .5s ease;
    box-shadow: 4px 6px 8px #246626;
    text-wrap: nowrap;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(.9);
}